<div class="game" *ngIf="players$ | async as players; else endGame">
  <div class="info">
    <div
      class="name"
      [style]="{
        color: players[0].color
      }"
      [class]="{ active: !players[0].turn }"
    >
      {{ players[0].name | titlecase }}
    </div>
    <div *ngIf="players[0].captured">Captured: {{ players[0].captured }}</div>
  </div>
  <canvas gomokuDrawer class="playing-field"></canvas>
  <div class="info">
    <div
      class="name"
      [style]="{
        color: players[1].color
      }"
      [class]="{ active: players[0].turn }"
    >
      {{ players[1].name | titlecase }}
    </div>
    <div *ngIf="players[1].captured">Captured: {{ players[1].captured }}</div>
  </div>
  <div class="game-message" *ngIf="players[2]">
    <div>
      Congratulation <span [style]="{ color: players[2] }">champion</span>!
    </div>
    <div>
      <a
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
        [routerLink]="['/settings']"
      >
        Play again
      </a>
    </div>
  </div>
</div>
<ng-template #endGame>
  <div class="btn-block">
    <button
      tuiButton
      type="button"
      size="xl"
      appearance="primary"
      [routerLink]="['/settings']"
    >
      Settings
    </button>
  </div>
</ng-template>
