.settings {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 100%;
  .btn-block {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .player {
    display: flex;
    flex-direction: column;
    width: 160px;
    gap: 2rem;
    margin-top: 2rem;
  }
  .enemy {
    //align-items: flex-end;
  }
}
